<div class="container min-vh-100" style="padding-top: 40px;">
    
        <div class="card mb-3" style="max-width: 85rem;">
            <div class="card-header text-light text-center display-3"><%= @deck.name %></div>

            <div class="card-header text-light text-center display-4"><%= @card.name %></div>

            <div class="card-body">
            <a href="/decks/<%= @deck.slug %>/cards/<%= @card.slug %>/edit"><button type="button" class="btn btn-dark btn-lg">Edit <%= @card.name %></button></a>
            
            <p class="lead"><strong>Tags:</strong> <%= @tags %></p>

            <form method="POST" action="/decks/<%= @deck.slug %>/cards/<%= @card.slug %>/notes">
                <div class="form-group">
                    <label for="content">Add a Note</label>
                    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                    <button type="submit" class="btn btn-dark btn-lg">Add</button>
                </div>
            </form>

            <% if @notes.nil? %>
                <h4 class="card-title" style="padding-top: 1rem;">Please add a note.</h4>
            <% else %>
                <% @notes.each do |note| %>
                <div class="row" style="padding-top: 1rem;">
                <div class="col-xl-12">
                    <div class="card-body">
                        <p class="card-text"><%= note.content %></p>
                        <small class="text-muted">Updated at: <%= note.updated_at %></small>
                        <form method="POST" action="/decks/<%= @deck.slug %>/cards/<%= @card.slug %>/notes/<%= note.id %>">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" class="btn btn-outline-dark btn-lg">Delete</button>
                        </form>
                    </div>
                    </div>
                </div>
                <% end %>
            <% end %>
            </div>
            </div>
        </div>
</div>