<div class="container min-vh-100" style="padding-top: 40px;">
    <h1>Welcome, <%= current_user.first_name %>!</h1>
    <a href="/decks/new"><button type="button" class="btn btn-dark btn-lg">Create a Deck</button></a>
    
    <% if @decks.nil? %>
        <h2 style="padding-top: 1rem;">No Decks :(</h2>
    <% else %>
        <% @decks.each do |deck| %>
            <div class="row" style="padding-top: 1rem;">
                <div class="col-xl-12">
                    <div class="card text-light text-center">
                        <div class="card-header display-4"><%= deck.name %></div>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <a href="/decks/<%= deck.slug %>/cards/new" class="btn btn-outline-dark btn-lg btn-block">Add a Card</a>
                        <a href="/decks/<%= deck.slug %>" class="btn btn-outline-dark btn-lg btn-block">View Deck</a>
                        <a href="/decks/<%= deck.slug %>/edit" class="btn btn-outline-dark btn-lg btn-block">Edit Deck</a>
                    </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>