<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>InDecks</title>
  </head>
  <body>
    <nav class="navbar static-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img src="/images/full-name-logo.png" alt="InDecks logo" width="44.22" height="30.03"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <% if logged_in? %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/decks" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1.5rem;">
              Decks
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/decks">Decks</a>
                <% @decks.each do |deck| %>
                  <a class="dropdown-item" href="/decks/<%= deck.slug %>"><%= deck.name %></a>
                <% end %>
              </div>
            </li>
          </ul>
          <a href="/signout"><button type="button" class="btn btn-outline-light btn-md">Sign out</button></a>
        </div>
        <% else %>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <a href="/signin"><button type="button" class="btn btn-outline-light btn-md">Sign in</button></a>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <a href="/signup"><button type="button" class="btn btn-outline-light btn-md">Sign up</button></a>
        </div>
        <% end %>
    </nav>

      <% flash.keys.each do |type| %>
        <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
          <strong><%= flash[type] %></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>


        <%= yield %>


    <footer class="footer mt-auto">
      <div class="container">
        <span class="text-light">&copy; InDecks</span>
      </div>
    </footer>
  </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

  </body>
</html>
